<button class="c-glyph" onclick="toggleMenu()"><img src="/pictures/menu.svg"> </button>
	<nav>
		<ul>
			<li>
				<a class="disabled">Admin Dashboard (coming soon)</a>
			</li>
			<li>
				<a class="disabled">Self Service (coming soon)</a>
			</li>
			<li>
				<a href="/leads">Lead Dashboard</a>
			</li>
			<li>
				<a class="c-button f-primary" style="color: white;" onclick="toggleIdeaPopup()">Submit new feature idea</a>
			</li>
		</ul>
	</nav>

	<script>
		function toggleMenu() {
			let nav = document.getElementsByTagName("nav")[0];
			if (nav.style.height === "0px" || nav.style.height === "") {
				nav.style.padding = "20px 0";
				nav.style.height = "85%";
			}
			else {
				nav.style.padding = "0";
				nav.style.height = "0";
			}
		}

	</script>