<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCC Automate</title>

	<link rel="manifest" href="/manifest.json">	
	<link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="https://www.microsoft.com/mwf/css/bundle/latest/west-european/default/mwf-main.min.css">
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <header>
        <div>
            <img src="/pictures/icon.png">
        </div>
        <div id="nav">
			<%- include("nav") %>
        </div>
    </header>

    <main>