<div class="events">
    <details>
        <summary>View your events</summary>
        <a class="actionBtn">Add an event</a>
        <div class="informations">
            <% for(attribute in user) { %>
                <div class="attributeHandler">
                    <p>
                        <%= attribute %>
                    </p>
                    <input type="text" disabled value="<%= user[attribute] %>">
                </div>
                <% } %>
                    <a>Edit profile</a>
        </div>
    </details>
    <div class="eventPopup">
        <div class="content">
            <div class="header">
                <span>X</span>
            </div>
            <h3>Add a new event</h3>
            <div class="attributeHandler">
                <p>
                    Event name
                </p>
                <input type="text" placeholder="My event">
            </div>
        </div>


    </div>
</div>