<div class="profile">
    <details>
        <summary>View your profile</summary>
        <div class="informations">
            <% for(attribute in user) { %>
                <div class="attributeHandler">
                    <p>
                        <%= attribute %>
                    </p>
                    <input type="text" disabled value="<%= user[attribute] %>">
                </div>
                <% } %>
        </div>
    </details>
</div>